@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto';
  text-align: left;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: #0d0d0d;
  background-color: #e8e6e6;
}

html {
  scroll-behavior: smooth;
}

.mdxContent {
  margin: 0 auto;
  padding: 5%;
  background-color: #ffffff;
  text-align: justify;
  color: #0d0d0d;

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  img {
    max-width: 100% !important;
  }

  a {
    text-decoration: none;

    &:link {
      color: #0d0d0d;
    }

    &:visited {
      color: #0d0d0d;
    }

    &:active {
      color: #0d0d0d;
    }

    &:hover {
      color: #0d0d0d;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
}
