---
import Page from "./Page.astro"
import "../styles/global.scss"

const { frontmatter } = Astro.props
---

<Page currentPage={frontmatter.currentPage}> 
	<div class="mdxContent">
		<slot />
	</div>
</Page>
