---
export interface Props {
	currentPage: string
}
const { currentPage } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{currentPage} • SZZ • Michal Bureš</title>
	</head>

	<body>
		<div class="pageContainer">
			<div class="contentWrap">
				<slot />
			</div>
		</div>
	</body>
</html>

<style lang="scss">
	@import "../styles/global.scss";

	.pageContainer {
		position: relative;
		min-height: 100vh;
	}

	.contentWrap {
		padding-bottom: 60px;
	}

	@media only screen and (max-width: 953px) {
		.contentWrap {
			padding-bottom: 88px;
		}
	}

	@media only screen and (max-width: 635px) {
		.contentWrap {
			padding-bottom: 122px;
		}
	}
</style>
